<% provide(:title, 'FAQs') %>

<div class="jumbotron">
<p class="lead">Berikut beberapa hal yang mungkin akan anda tanyakan sebelum menggunakan layanan Ingatly.</p>
</div>


<div class="row marketing">

    <div class="col-lg-12">
      <h4>1. Bagaimana cara pengunaan Ingatly?</h4>
      <p>Sangat mudah. Anda membuat event dan diset untuk diingatkan sekali waktu atau secara rutin sesuai waktu yang anda set.</p>
      <p>Setiap event bisa diatur apakah anda mau diingatkan via email, SMS atau push notifikasi aplikasi kami.</p>
    </div>

    <div class="col-lg-12">
      <h4>2. Apakah Ingatly gratis?</h4>
      <p>Untuk menggunakan layanan Ingatly tidaklah dipungut biaya, anda bisa membuat event, mendaftarkan email/nomer HP handphone untuk menerima notifikasi. Aplikasi mobile Ingatly (segera) pun akan bisa diunduh dan dipergunakan secara gratis.</p>
    </div>

    <div class="col-lg-12">
      <h4>3. Kenapa email dan nomer HP yang saya tambahkan perlu verifikasi?</h4>
      <p>Untuk menghindari Ingatly dipakai sebagai alat spamming, penipuan, jahil kepada teman atau orang lain. Setiap email dan nomer HP yang anda tambahkan akan melalui proses verifikasi sederhana, yang artinya ketika email dan nomer tersebut terverifikasi maka secara tidak langsung pemilik email dan nomer tersebut telah setuju untuk menerima pengingat dari sistem kami.</p>
    </div>

    <div class="col-lg-12">
      <h4>4. Apa email dan nomer handpone saya aman dengan Ingatly?</h4>
      <p>Tujuan adanya Ingatly adalah memberikan layanan pengingat pribadi untuk anda, keberlangsungan Ingatly tergantung pada kepercayaan pengguna kami, jadi menjaganya sudah menjadi kewajiban utama.</p>
    </div>

    <div class="col-lg-12">
      <h4>5. Apakah ingatly akan ada versi berbayar?</h4>
      <p>Saat kami keluar dari fase BETA, kemungkinan kami akan memperkenalkan layanan PRO/berbayar, namun layanan gratis pasti akan tetap tersedia.</p>
      <p>Salah satu fitur penting kami adalah notifikasi lewat SMS, untuk mengingatkan anda melalui SMS, kami menggunakan layanan SMS Gateway pihak ketiga dan perlu biaya bulanan untuk itu.</p>
      <p>Jadi demi memberikan layanan yang maksimal, kami butuh biaya operasional mulai dari SMS Gateway, server, waktu development dan lainnya.</p>
      <p>Apabila Ingatly berguna buat anda, dukunglah kami dengan upgrade ke versi PRO.</p>
    </div>

    <div class="col-lg-12">
      <h4>6. Apa itu fase BETA?</h4>
      <p>Meskipun layanan kami sudah siap dipakai untuk keperluan anda, tetapi pada dasarnya kami masih dalam tahap pengembangan yang intensif. Kami sadari layanan ini masih belum sempurna, dan masih banyak yang perlu diperbaiki. Masa itu kami sebut fase BETA. Kami mengundang anda untuk memberikan saran dan kritik demi kemajuan dan layanan ini lebih baik.</p>
    </div>

    <div class="col-lg-12">
      <h4>7. Kapan fase BETA ini berakhir?</h4>
      <p>Kami belum memutuskan, kemungkinan sampai beberapa bulan kedepan. Kami akan memberikan pemberitahuan ketika fase ini akan berakhir.</p>
    </div>

    <div class="col-lg-12">
      <h4>8. Saya ada keluhan, saran dan kritik, hubungi siapa?</h4>
      <p>Langsung hubungi eka[at]balicodes.com.</p>
    </div>
</div>
