google_api_key: ''
google_api_secret: ''

google_sa_client_id: ''
google_sa_client_email: ''
google_sa_client_keyfile_path: ''

mandrill_api_user: ''
mandrill_api_key: ''

rajasms_username: ''
rajasms_password: ''
rajasms_apikey: ''


oneall_subdomain: ''
oneall_public_key: ''
oneall_private_key: ''
