<p>Halo <%= @reminder.identifier %>,</p>

<p>Berikut kode untuk memverifikasi email anda: <strong><%= @token %></strong></p>

<p>Anda menerima email ini karena didaftarkan di Ingatly.com.</p>

<p>Apabila anda merasa tidak pernah mendaftarkan email ini di Ingatly.com,
tolong abaikan/hapus email ini.</p>

<p>--<br>
Ingatly.com</p>
