<p>Halo <%= @resource.email %>,</p>

<p>Seseorang telah meminta reset password akun anda dengan email ini. Silahkan klik link di bawah ini untuk melanjutkan.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Apabila itu bukan anda, tolong abaikan email ini.</p>
<p>Password anda tidak akan diganti apabila link diatas tidak di klik.</p>

<p>Eka Putra<br>
www.ingatly.com</p>
